<?xml version="1.0"?>

<config>
  <modules>
    <Onegini_Onegini>
      <version>1.0.0</version>
    </Onegini_Onegini>
  </modules>
  <frontend>
    <secure_url>
      <onegini>/onegini/auth/</onegini>
    </secure_url>
    <translate>
      <modules>
        <onegini>
          <files>
            <default>Onegini_Onegini.csv</default>
          </files>
        </onegini>
      </modules>
    </translate>
    <routers>
      <onegini>
        <use>standard</use>
        <args>
          <module>Onegini_Onegini</module>
          <frontName>onegini</frontName>
        </args>
      </onegini>
    </routers>
    <layout>
      <updates>
        <onegini>
          <file>onegini.xml</file>
        </onegini>
      </updates>
    </layout>
  </frontend>

  <global>
    <blocks>
      <onegini>
        <class>Onegini_Onegini_Block</class>
      </onegini>
    </blocks>
    <models>
      <onegini>
        <class>Onegini_Onegini_Model</class>
        <resourceModel>onegini_mysql4</resourceModel>
      </onegini>
      <onegini_mysql4>
        <class>Onegini_Onegini_Model_Mysql4</class>
        <entities>
          <identifiers>
            <table>onegini_identifiers</table>
          </identifiers>
        </entities>
      </onegini_mysql4>
    </models>
    <events>
      <customer_save_after>
        <observers>
          <add_onegini_identifier>
            <type>singleton</type>
            <class>Onegini_Onegini_Model_Observer</class>
            <method>addIdentifier</method>
          </add_onegini_identifier>
        </observers>
      </customer_save_after>
      <customer_delete_after>
        <observers>
          <remove_onegini_identifiers>
            <type>singleton</type>
            <class>Onegini_Onegini_Model_Observer</class>
            <method>removeIdentifiers</method>
          </remove_onegini_identifiers>
        </observers>
      </customer_delete_after>
    </events>
    <helpers>
      <onegini>
        <class>Onegini_Onegini_Helper</class>
      </onegini>
    </helpers>
    <resources>
      <onegini_setup>
        <setup>
          <module>Onegini_Onegini</module>
          <class>Onegini_Onegini_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </onegini_setup>
      <onegini_write>
        <connection>
          <use>core_write</use>
        </connection>
      </onegini_write>
      <onegini_read>
        <connection>
          <use>core_read</use>
        </connection>
      </onegini_read>
    </resources>
  </global>

  <adminhtml>
    <translate>
      <modules>
        <Onegini_Onegini>
          <files>
            <default>Onegini_Onegini.csv</default>
          </files>
        </Onegini_Onegini>
      </modules>
    </translate>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <onegini translate="title" module="onegini">
                      <title>onegini</title>
                    </onegini>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <default>
    <onegini>
      <options>
        <clientId></clientId>
        <clientSecret></clientSecret>
        <enable>1</enable>
        <seamless>1</seamless>
        <path_skin>{{base_skin}}/frontend/onegini</path_skin>
      </options>
    </onegini>
  </default>

</config>
